@font-face {
	font-family: 'Philosopher';
	src: url('../fonts/Philosopher-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Philosopher';
	font-weight: bold;
	src: url('../fonts/Philosopher-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Philosopher';
	font-style: italic;
	src: url('../fonts/Philosopher-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Philosopher';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/Philosopher-BoldItalic.ttf') format('truetype');
}